<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.moxvyou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_my"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.WebViewActivity"></activity>
        <activity android:name=".Activities.PullCallListContentReSolverActivity" />
        <activity android:name=".Activities.CreateDatabaseActivity2" />
        <activity android:name=".Activities.CreateDatabaseActivity" />

        <receiver
            android:name=".BroadcastUtils.ForceOfflineReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.ForceOfflineActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastUtils.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.myapp.moxvyou.BroadcastUtils.MyBroadcastReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastUtils.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.ChatWithEachOtherActivity" />
        <activity android:name=".Activities.RecyclerView3Activity" />
        <activity android:name=".Activities.RecyclerView2Activity" />
        <activity android:name=".Activities.RecyclerViewActivity" />
        <activity android:name=".Activities.TitleViewAndListView" />
        <activity android:name=".Activities.PercentLayoutActivity" />
        <activity android:name=".Activities.MenuNextPage1Activity" />
        <activity android:name=".Activities.HomeActivity" />
    </application>

</manifest>